# Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [62]:
import pandas as pd

In [63]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [64]:
joined = ratings.merge(movies, on='movieId', how='left')
joined[['movieId','rating','title']].head()

max_=ratings['rating'].max()
filtered_joined=joined[(joined ['rating']==max_)]
fr=filtered_joined.groupby(['movieId' , 'title'])['movieId'].count()

fr.sort_values(ascending=False).head(1)

movieId  title
318      Shawshank Redemption, The (1994)    153
Name: movieId, dtype: int64

# Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [73]:
import pandas as pd

In [74]:
power=pd.read_csv('power.csv')

In [75]:
country_names = ['Lithuania','Estonia','Latvia']

filtered_countries = power[(power['country'] == country_names[0]) |
                    (power['country'] == country_names[1]) |
                    (power['country'] == country_names[2]) ]

fc=filtered_countries[(filtered_countries['category']==4) | (filtered_countries['category']==12) |
                      (filtered_countries['category']==21) & (filtered_countries['year']<2010) & 
                      (filtered_countries['year']>2005)]

print('Cуммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года без учета отрицательных значений равно: {}КВт'.format(fc['quantity'].sum()))

Cуммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года без учета отрицательных значений равно: 165867.0КВт

# Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [103]:
import pandas as pd

In [104]:
import requests
url = 'https://bitinfocharts.com/ru/markets/'

In [105]:
def get_html(url):
    return (requests.get(url).text)

df = pd.read_html(get_html(url), encoding='utf-8', header=0) 
df

[         # КриптовалютаВалюта  \
 0      1.0        BTC Bitcoin
 1      2.0       ETH Ethereum
 2      3.0       LTC Litecoin
 3      4.0   BCH Bitcoin Cash
 4      5.0     LINK ChainLink
 ..     ...                ...
 96    96.0    LMCH Latam Cash
 97    97.0          MKR Maker
 98    98.0     TT ThunderCore
 99    99.0        STORJ Storj
 100  100.0    ACH Alchemy Pay

                                                   Цена  \
 0    $ 13,247.91 -3.62% ($498) в 12ч +6.73% ($836) ...
 1    $ 388.02 -4.52% ($18.4) в 12ч +1.68% ($6.41) в 7д
 2    $ 57.53 -2.04% ($1.20) в 12ч +14.89% ($7.46) в 7д
 3    $ 274.26 +2.95% ($7.85) в 12ч +6.24% ($16.1) в 7д
 4    $ 11.48 -5.05% ($0.61) в 12ч +10.68% ($1.11) в 7д
 ..                                                 ...
 96           $ 0.129 -8.5% в 12 часов -40.02% в 7 дней
 97   $ 555.51 -6.25% ($37.0) в 12ч -0.65% ($3.66) в 7д
 98          $ 0.0047 -2.18% в 12 часов +3.49% в 7 дней
 99    $ 0.334 -7.53% ($0.03) в 12ч -9.75% ($0.04) в 7д
 100         $ 0.011 -3.96% в 12 часов +10.19% в 7 дней

                                            Цена в BTC  \
 0                   1 BTC +0% в 12 часов +0% в 7 дней
 1         0.029 BTC -0.94% в 12 часов -4.74% в 7 дней
 2        0.0043 BTC +1.64% в 12 часов +7.64% в 7 дней
 3         0.021 BTC +6.81% в 12 часов -0.46% в 7 дней
 4        0.00087 BTC -1.49% в 12 часов +3.7% в 7 дней
 ..                                                ...
 96    0.0000097 BTC -5.06% в 12 часов -43.8% в 7 дней
 97        0.042 BTC -2.73% в 12 часов -6.92% в 7 дней
 98   0.00000035 BTC +1.49% в 12 часов -3.04% в 7 дней
 99    0.000025 BTC -4.06% в 12 часов -15.45% в 7 дней
 100  0.00000085 BTC -0.35% в 12 часов +3.24% в 7 дней

                         Капитализация  \
 0    $ 245,461,778,811 18,528,339 BTC
 1    $ 43,921,274,969 113,192,196 ETH
 2      $ 3,809,112,978 66,213,446 LTC
 3      $ 5,085,857,170 18,543,711 BCH
 4    $ 4,017,680,921 350,000,000 LINK
 ..                                ...
 96                                NaN
 97                                NaN
 98                                NaN
 99     $ 66,050,414 197,823,819 STORJ
 100                               NaN

                                      Объем обмена 24ч
 0      549,876 BTC 549,875.73 BTC7,284,704,471.96 USD
 1    6,720,677 ETH 196,844.87 BTC2,607,783,251.74 USD
 2       7,755,886 LTC 33,679.19 BTC446,178,935.56 USD
 3        1,538,232 BCH 31,845.05 BTC421,880,351.1 USD
 4     30,160,566 LINK 26,133.62 BTC346,215,798.94 USD
 ..                                                ...
 96         29,759,608 LMCH 288.99 BTC3,828,509.42 USD
 97               6,771 MKR 283.92 BTC3,761,348.35 USD
 98          793,250,558 TT 281.05 BTC3,723,307.69 USD
 99         10,991,480 STORJ 277.02 BTC3,669,890.9 USD
 100        324,157,230 ACH 274.85 BTC3,641,226.85 USD

 [101 rows x 6 columns]]

# Задание 4

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [ ]:
import pandas as pd

In [81]:
def classifikator(rating): 
    if rating <= 2: 
        return 'low' 
    elif rating <= 4: 
        return 'medium' 
    elif rating <= 5: 
        return 'high' 
    
rating['class'] = rating['rating'].apply(classifikator) 
rating

        userId  movieId  rating   timestamp   class
0            1        1     4.0   964982703  medium
1            1        3     4.0   964981247  medium
2            1        6     4.0   964982224  medium
3            1       47     5.0   964983815    high
4            1       50     5.0   964982931    high
...        ...      ...     ...         ...     ...
100831     610   166534     4.0  1493848402  medium
100832     610   168248     5.0  1493850091    high
100833     610   168250     5.0  1494273047    high
100834     610   168252     5.0  1493846352    high
100835     610   170875     3.0  1493846415  medium

[100836 rows x 5 columns]

# Задание 5

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [98]:
import pandas as pd

In [99]:
keywords = pd.read_csv('keywords.csv')

In [100]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [101]:
d = {}

for region in geo_data:
    spisok_gorodov = geo_data[region]
    d.update({key:value for key,value in zip(spisok_gorodov,[region for i in spisok_gorodov])})

In [102]:
keywords['region'] = keywords['keyword'].map(d)
keywords['region'] = keywords['region'].fillna('undefined')
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

# Задание 6

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [113]:
import pandas as pd

In [114]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
total = ratings.merge(movies, on=["movieId"], how='inner')

In [115]:
years = []
for year in range(1950,2010):
    years.append(year)

In [116]:
def production_year(title):
    for year in years:
        if str(year) in title:
            return year
    return 1900

In [119]:
total['year'] = total['title'].apply(production_year)
total.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995

In [118]:
pvt = Total.pivot_table(index=['year'], values = 'rating', aggfunc='mean')
pvt_sorted = pvt.sort_values(by = ['rating'], ascending = False)
pvt_sorted.head()

        rating
year
1957  4.039535
1954  4.009191
1962  3.969466
1952  3.953125
1972  3.944293