## Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [10]:
import pandas as pd

In [11]:
file = pd.read_csv('ml-latest-small/ratings.csv')
file.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [13]:
group_rating = file.groupby('userId').count().reset_index()
group_rating = group_rating[['userId','rating']]
count100 = group_rating[group_rating['rating']>100]
count100.rename(columns={'rating': 'rating>100'}, inplace=True)

timestamp_max = file.groupby('userId').max().reset_index()
timestamp_min = file.groupby('userId').min().reset_index()
ratings_maxtime = timestamp_max [['userId','timestamp']]
ratings_mintime = timestamp_min [['userId','timestamp']]
ratings_maxtime.rename(columns={'timestamp': 'timestamp_max'}, inplace=True)
ratings_mintime.rename(columns={'timestamp': 'timestamp_min'}, inplace=True)

time_avg = count100.merge(ratings_maxtime, how='inner').merge(ratings_mintime, how='inner')

def average(group_rating):
    t_avg=(group_rating['timestamp_max']-group_rating['timestamp_min'])
    return t_avg

time_avg['t_avg']=time_avg.apply(average,axis=1)
print(time_avg.head())

   userId  rating>100  timestamp_max  timestamp_min      t_avg
0       4         204      949982274      949778714     203560
1       8         116     1154474527     1154389340      85187
2      15        1700     1469330735      997937239  471393496
3      17         363     1127476640     1127468587       8053
4      19         423      855195373      855190091       5282

## Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [19]:
url = pd.read_csv('dataset/URLs.txt')
url[url.url.str.contains(r'/\d{8}-')].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

## Задание 3
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [8]:
import pandas as pd
from pymystem3 import Mystem

data = pd.DataFrame({
    'keyword': ['UAH in RUB', 'USD in RUB', '100 USD in RUB', 'RUB'],
    'shows': [125076, 114173, 97534, 53546],
})

In [9]:
def Lemma(dateFrame):
    lemmas = ' '.join(Mystem().lemmatize(dateFrame['keyword']))
    return lemmas.strip()

In [10]:
data['lemmas'] = data.apply(Lemma, axis=1)
data.head()

          keyword   shows                lemmas
0      UAH in RUB  125076        UAH   in   RUB
1      USD in RUB  114173        USD   in   RUB
2  100 USD in RUB   97534  100   USD   in   RUB
3             RUB   53546                   RUB